{% extends 'ensembled_app\base_template.html' %}

{% block content %}
    <h2>{{band.name}}</h2>
    <p>Genre: {{band.genre}}</p>
    <p>About: {{band.about}}</p>
    <p>Members:
        {% for musician in Members %}
            <a href="{{musician.get_absolute_url}}">{{musician.name}}</a>,
        {% endfor %}
    </P>

    <a class="btn btn-secondary" href="{% url 'band-update' band.id%}" role="button">Edit</a>
    <a class="btn btn-secondary" href="{% url 'band-delete' band.id%}" role="button">Delete</a>
{% endblock %}